body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  min-height: 100vh;
  background: #5dbcd2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-header {
  background-color: #149c9c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #20ccaa;
}
.logo {
  max-width: 20vh;
}
.card-body{
  background-color: beige;
  border-color: #330421;
  padding: 30px;
}
.logo img{
  max-width: 50px;
}
.card-body{
 background-color: antiquewhite;
border: solid ;
border-color: black;

background-color: #ebecec;



}
.card post-card{
  background-color: antiquewhite;
  border: solid ;
border-color: #09d3ac;
}

.container{
  text-align: center;
}

.logo img{
  max-width: 50px;

}

